
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

 <!-- [hero]="selectedHero" is an example of Property binding
The two components will have a parent/child relationship. 
The parent HeroesComponent will control the child HeroDetailComponent by sending it a new hero to display whenever the user selects a hero from the list.
I am commenting this out because the heroes list view should no longer show hero details as it does now. The app should instead navigate to the HeroDetailComponent -->
 <!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->